---
import RootLayout from "@/layouts/RootLayout.astro";
import Container from "@/components/Container.astro";
import { getCollection } from "astro:content";

const filterTag = (post: any, tag: string) => {
  const tags = post.data.tags || [];
  return tags.includes(tag);
};

export async function getStaticPaths() {
  const blogCollection = await getCollection(
    "blog",
    (post) => post.data.draft !== true,
  );
  const posts = blogCollection.sort(
    (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
  );
  const tagsSet = new Set<string>();
  posts.forEach((post) => {
    const tags = post.data.tags || [];
    tags.forEach((tag) => tagsSet.add(tag));
  });
  const tags = Array.from(tagsSet).sort();
  return tags.map((tag) => ({
    params: { tag },
  }));
}

const { tag } = Astro.params;
const posts = await getCollection(
  "blog",
  (post) => post.data.draft !== true && filterTag(post, tag),
);
const taggedPosts = posts.sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
);
---

<RootLayout>
  <Container>
    <div class="space-y-10">
      <h1 class="font-semibold text-2xl">Tag: "{tag}"</h1>
      {
        taggedPosts.map((post) => (
          <div>
            <a
              href={`/posts/${post.data.slug ?? post.id}`}
              class="text-lg font-medium hover:underline"
            >
              {post.data.title}
            </a>
            <p class="text-base text-gray-800">{post.data.description}</p>
            <p class="text-sm text-gray-600">
              {new Date(post.data.date).toLocaleDateString(undefined, {
                year: "numeric",
                month: "long",
                day: "numeric",
              })}
            </p>
          </div>
        ))
      }
    </div>
  </Container>


