---
import RootLayout from "@/layouts/RootLayout.astro";
import Container from "@/components/Container.astro";
import PostListItem from "@/components/PostListItem.astro";
import {
  getAllTags,
  getPublishedPosts,
  hasTag,
  sortPostsByDateDesc,
} from "@/lib/blog";

export async function getStaticPaths() {
  const tags = getAllTags(await getPublishedPosts());
  return tags.map((tag) => ({
    params: { tag },
  }));
}

const { tag } = Astro.params;
const taggedPosts = sortPostsByDateDesc(
  (await getPublishedPosts()).filter((post) => hasTag(post, tag)),
);
---

<RootLayout>
  <Container>
    <div class="space-y-10">
      <h1 class="font-semibold text-2xl">Tag: "{tag}"</h1>
      {
        taggedPosts.map((post) => (
          <PostListItem post={post} />
        ))
      }
    </div>
  </Container>
