---
import Container from "@/components/Container.astro";
import RootLayout from "@/layouts/RootLayout.astro";
import GithubLogo from "@/assets/github.svg";
import EmailIcon from "@/assets/email.svg";
---

<RootLayout>
  <Container>
    <h1 class="text-2xl font-semibold mb-4">About Me</h1>
    개발, 음악, 이외 다양한 관심사를 다루는 블로그입니다.

    <h2 class="text-xl font-semibold mt-8 mb-4">Contacts</h2>

    <section class="flex flex-row gap-2 items-center">
      <a
        href="https://github.com/mjhong0708"
        class="text-blue-600 underline flex items-center gap-2"
      >
        <GithubLogo class="w-5 h-5 inline-block" />
      </a>
      <a
        href="mailto:mjhong0708@naver.com"
        class="text-blue-600 underline flex items-center gap-2"
      >
        <EmailIcon class="w-5 h-5 inline-block" />
      </a>
    </section>
  </Container>
</RootLayout>
