---
import Container from "@/components/Container.astro";
import Welcome from "../components/Welcome.astro";
import RootLayout from "@/layouts/RootLayout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<RootLayout>
  <Container>
    <!-- <Welcome /> -->
    <h1 class="text-xl">Hello, world!</h1>
  </Container>
</RootLayout>
